html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
    background-color: #f9f9fb;
}

.container {
    padding-bottom: 412px;
}

.wrapper {
    margin: 0 auto;
    width: 1531px;
}

nav {
    display: flex;
    background-color:  #212429;
    height: 55px;
    justify-content: space-between;
}

nav div {
    display: inline-flex;
}

.nav-link {
    justify-content:center;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

nav div a {
    font-family: FontAwesome;
    color:  #ffffff;
    font-size: 16px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 24px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
}

nav:before {
    content: '';
    height: 345px;
    background-color:  #212429;
    position: absolute;
    width: 100%;
    top:0;
    left: 0;
    z-index: -1;
}

.nav-link {
    width: 65px;
    align-items: center;
}

.slider {
    position: relative;
}
.slider>div{
    position: absolute;
    color: white;
    text-align: center;
}

.header-slider {
    left: 0;
    bottom: 30px;
}

.slide-buttons {
    top: 100px;
    right: 120px;
    transform: rotate(270deg);
}

.slide-buttons span {
    margin: 10px;
}

.signup-form {
    display: flex;
    flex-direction:row;
    align-items: center;
    height: 100px;
    width: 1531px;
    box-sizing: border-box;
    background-color: #f7f7f7;

}

.signup-form h3 {
    font-family: Montserrat;
    color: #212121;
    font-size: 20px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 28px; /* Приближение из-за подстановки шрифтов */
    text-align: left;
    margin-left: 30px;

}
.signup-form input {
    border:1px solid rgba(221, 221, 221, 15);
    box-shadow: 0px 0px 1px 0px rgba(232, 232, 232, 0.21);
    height: 50px;
    width: 450px;
    background-color: #ffffff;
    margin-left: 30px;
    padding-left: 30px;
    font-family: Hind;
    color: #999999;
    font-size: 15px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 28px; /* Приближение из-за подстановки шрифтов */
}

.signup-form input:last-child {
    background-color: #212121;
    color: #ffffff;
    font-size: 14px; /* Приближение из-за подстановки шрифтов */
    font-weight: 500;
    line-height: 24px; /* Приближение из-за подстановки шрифтов */
    margin-right: 30px;
    margin-left: none;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    padding-top: 75px;
    padding-bottom: 58px;
}

.content-column {
    flex-direction: column;
}

article {
    position: relative;
    margin-bottom: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(221, 221, 221, 15);
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0px 0px 1px 0px rgba(232, 232, 232, 0.21);
    width: 360px;
    font-family: Hind;
    color: #464646;
    font-size: 15px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 28px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

.article-with-background {
    background-image: url("../images/article-backgroung.png");
}

.empty-article {
    height: 513px;
}

article:before {
    box-sizing: border-box;
    content: "\f040";
    font-family: FontAwesome;
    color: white;
    height: 35px;
    width: 40px;
    background-color: black;
    position: absolute;
    top: -17px;
    left: 170px;
    padding-top: 8px;
}

.menu-article {
    display: flex;
    justify-content: space-between;
}

footer {
    position: absolute;
    height: 412px;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: black;

    font-family: Hind;
    color: #f9f9fb;
    font-size: 15px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 28px; /* Приближение из-за подстановки шрифтов */
    text-align: left;
}

footer .wrapper {
    display: flex;
    justify-content: space-between;

}

footer h3 {
    font-family: Montserrat;
    color:  #f7f7f7;
    font-size: 16px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 28px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
    margin: 59px auto 38px;
}



.about {
    width: 361px;
}

.latest-tweets {
    width: 359px;
}

.follow-instagram {
    width: 361px;

}

.follow-instagram img {
    margin-left: -0.25em;
}

.follow-instagram img:first-of-type {
    margin-left: 0;
}

.latest-comment {
    width: 348px;
}
